<!DOCTYPE html>
<html>
    <title>
        To Do List
    </title>
    <link rel="stylesheet" href="styles.css">
    <body>
    <div class="box" id="heading">
        <h1> <%=listTitle %>  </h1>
    </div>
   <div class="box">
   
        
        <%    for(var i=0 ; i<newListItems.length ; i++){   %>
            <div class="item">
                    <input type="checkbox">
                    <p>
                    <%= newListItems[i].task %>  
                    
                    </p>
                </div>
    <%       }     %>
   


  
    
    <form class="" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add new task" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>
            +
        </button>
    </form>
    


    </div>
</body>
<footer>
    Developed by -  Aditya Sarnobat
  </footer>
  
</html>




